@{
	Layout = null;
}

<!DOCTYPE html>

<html>
	<head>
		<title>Postal Codes</title>
	</head>
	<body>
		<h1>Postal Codes</h1>
		<h2>First 24 entries...</h2>
		<div>
			<ul>
				@foreach (var doc in @Model)
				{
					<li>@doc["placeName"]</li>
				}
			</ul>
		</div>
	</body>
</html>